body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: rgba(80, 234, 33, 0.984);
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: rgba(80, 234, 33, 0.984);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color:#513294;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-LerCoffee Livraria e Cafeteria, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color:rgba(80, 234, 33, 0.984) ;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color:rgba(80, 234, 33, 0.984);
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: rgba(80, 234, 33, 0.984);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.carousel-item img {
    width:  100%;
    height: auto;
}
@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}
